<div class="contenedor">
    <ul>
        <li *ngFor="let item of NoSeleccionados; let index=index" (click)="seleccionar(item,index)">{{item.no_doc}}.- {{item.documento}}</li>
    </ul>
    <div class="div-botones">
        <button type="button" (click)="seleccionarTodo()">>>></button>
        <button type="button" (click)="deseleccionarTodo()"><<<</button>
    </div>
    <ul>
        <li *ngFor="let item of Seleccionados; let index=index" (click)="deseleccionar(item,index)">{{item.no_doc}}.- {{item.documento}}</li>
    </ul>

</div>
<div>
    <button mat-flat-button (click)="guardarNa()" color="primary">Guardar</button>
</div>