<mat-card >
    Contrato: {{descripcion.contrato}}
    Obra:
    Descripcion:
</mat-card>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
         No Aplica 
        </mat-panel-title>
        <mat-panel-description>
          Seleccion de Varios Documentos como No aplica
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-selector-multiple [NoSeleccionados]="documentoNoSeleccionados"></app-selector-multiple>
      
    </mat-expansion-panel>
   
  </mat-accordion>


  <mat-tab-group mat-align-tabs="start" color="warn" backgroundColor="primary"> 
    <mat-tab  label="Planeación">
        <app-listado-generico [listado]="Planeacion">
            <ng-container vacio>
                <p>No hay <b> Contenido</b></p>
            </ng-container>
            <ng-container contenido>
                <mat-table class="mat-elevation-z8 contenedor" #Documentacion [dataSource]="Planeacion">
                   
                    <ng-container matColumnDef="no_doc">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> No. </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;"> {{row.no_doc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef style="width: 450px;"> Documento </th>
                        <td mat-cell *matCellDef="let row" style="width: 450px;"> {{row.documento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="no_aplica">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> N/A </th>
                        <td mat-cell *matCellDef="let row" style="width:30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.no_aplica">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="original">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> O </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.original">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="copia">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> C </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.copia">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="docDigital">
                        <th mat-header-cell *matHeaderCellDef style="width: 70px;"> Doc. Digital </th>
                        <td mat-cell *matCellDef="let row" style="width: 70px;">
                            <ng-container *ngIf="row.docDigital===0; then thenTemplate; else elseTemplate"></ng-container>
                            <ng-template #thenTemplate>
                                <span class="material-icons">
                                    folder_open
                                </span>
                            </ng-template>
                            <ng-template #elseTemplate>
                                <span [matBadge]="row.docDigital" (click)="abrirListado(row.id)" class="material-icons open">
                                    folder
                                </span>
                            </ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="revisado">
                        <th mat-header-cell *matHeaderCellDef style="width: 90px;"> Revisado </th>
                        <td mat-cell *matCellDef="let row" style="width: 90px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.revisado">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="observacion">
                        <th mat-header-cell *matHeaderCellDef style="width: 220px;"> Observaciones </th>
                        <td mat-cell *matCellDef="let row" style="width: 220px;"> {{row.observacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="responsable">
                        <th mat-header-cell *matHeaderCellDef style="width: 190px;"> Responsable </th>
                        <td mat-cell *matCellDef="let row" style="width: 190px;"> {{row.responsable}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef style="width: 190px;"> Acciones </th>
                        <td mat-cell *matCellDef="let row" style="width: 190px;">
                            <ng-container
                                *ngIf=" row.no_aplica!=false || row.docDigital==0 ; then thenTemplate; else elseTemplate">
                            </ng-container>
                            <ng-template #thenTemplate>
                                <a mat-icon-button 
                                [routerLink]="'/documentos/crear/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    add_circle
                                </span>
                            </a>
                               
                            </ng-template>
                            <ng-template #elseTemplate>
                                <a mat-icon-button *ngIf="!row.Revisado" [disabled] 
                                [routerLink]="'/documentos/editar/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    create
                                </span>
                            </a>
                            <a mat-icon-button *ngIf="!row.Revisado" [disabled]
                                [routerLink]="'/documentos/editar/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                            </ng-template>
                     </td>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnas" class="seleccionar"></mat-row>
        
                </mat-table>
            </ng-container>
        </app-listado-generico>
    </mat-tab>
    <mat-tab label="Adjudicación">
        <app-listado-generico [listado]="Adjudicacion">
            <ng-container vacio>
                <p>No hay <b> Contenido</b></p>
            </ng-container>
            <ng-container contenido>
                <mat-table class="mat-elevation-z8 contenedor" #Documentacion [dataSource]="Adjudicacion">
                   
                    <ng-container matColumnDef="no_doc">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> No. </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;"> {{row.no_doc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef style="width: 450px;"> Documento </th>
                        <td mat-cell *matCellDef="let row" style="width: 450px;"> {{row.documento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="no_aplica">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> N/A </th>
                        <td mat-cell *matCellDef="let row" style="width:30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.no_aplica">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="original">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> O </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.original">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="copia">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> C </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.copia">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="docDigital">
                        <th mat-header-cell *matHeaderCellDef style="width: 70px;"> Doc. Digital </th>
                        <td mat-cell *matCellDef="let row" style="width: 70px;">
                            <ng-container *ngIf="row.docDigital===0; then thenTemplate; else elseTemplate"></ng-container>
                            <ng-template #thenTemplate>
                                <span class="material-icons">
                                    folder_open
                                </span>
                            </ng-template>
                            <ng-template #elseTemplate>
                                <span [matBadge]="row.docDigital" (click)="abrirListado(row.id)" class="material-icons open">
                                    folder
                                </span>
                            </ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="revisado">
                        <th mat-header-cell *matHeaderCellDef style="width: 90px;"> Revisado </th>
                        <td mat-cell *matCellDef="let row" style="width: 90px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.revisado">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="observacion">
                        <th mat-header-cell *matHeaderCellDef style="width: 220px;"> Observaciones </th>
                        <td mat-cell *matCellDef="let row" style="width: 220px;"> {{row.observacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="responsable">
                        <th mat-header-cell *matHeaderCellDef style="width: 190px;"> Responsable </th>
                        <td mat-cell *matCellDef="let row" style="width: 190px;"> {{row.responsable}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef style="width: 190px;"> Acciones </th>
                        <td mat-cell *matCellDef="let row" style="width: 190px;">
                            <ng-container
                            *ngIf=" row.no_aplica!=false || row.docDigital==0 ; then thenTemplate; else elseTemplate">
                            </ng-container>
                            <ng-template #thenTemplate>
                                <a mat-icon-button 
                                    [routerLink]="'/documentos/crear/'+descripcion.contrato+'/'+row.no_doc">
                                    <span class="material-icons">
                                        add_circle
                                    </span>
                                </a>
                               
                            </ng-template>
                            <ng-template #elseTemplate>
                                <a mat-icon-button *ngIf="!row.Revisado" [disabled] 
                                [routerLink]="'/documentos/editar/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    create
                                </span>
                            </a>
                            <a mat-icon-button *ngIf="!row.Revisado" [disabled] 
                                [routerLink]="'/documentos/editar/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                            </ng-template>
                     </td>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnas" class="seleccionar"></mat-row>
        
                </mat-table>
            </ng-container>
        </app-listado-generico>
    </mat-tab>
    <mat-tab label="Ejecución">
        <app-listado-generico [listado]="Ejecucion">
            <ng-container vacio>
                <p>No hay <b> Contenido</b></p>
            </ng-container>
            <ng-container contenido>
                <mat-table class="mat-elevation-z8 contenedor" #Documentacion [dataSource]="Ejecucion">
                   
                    <ng-container matColumnDef="no_doc">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> No. </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;"> {{row.no_doc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef style="width: 450px;"> Documento </th>
                        <td mat-cell *matCellDef="let row" style="width: 450px;"> {{row.documento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="no_aplica">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> N/A </th>
                        <td mat-cell *matCellDef="let row" style="width:30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.no_aplica">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="original">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> O </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.original">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="copia">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"> C </th>
                        <td mat-cell *matCellDef="let row" style="width: 30px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.copia">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="docDigital">
                        <th mat-header-cell *matHeaderCellDef style="width: 70px;"> Doc. Digital </th>
                        <td mat-cell *matCellDef="let row" style="width: 70px;">
                            <ng-container *ngIf="row.docDigital===0; then thenTemplate; else elseTemplate"></ng-container>
                            <ng-template #thenTemplate>
                                <span class="material-icons">
                                    folder_open
                                </span>
                            </ng-template>
                            <ng-template #elseTemplate>
                                <span [matBadge]="row.docDigital" (click)="abrirListado(row.id)"  class="material-icons open">
                                    folder
                                </span>
                            </ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="revisado">
                        <th mat-header-cell *matHeaderCellDef style="width: 90px;"> Revisado </th>
                        <td mat-cell *matCellDef="let row" style="width: 90px;">
                            <mat-checkbox [disabled]="true" [(ngModel)]="row.revisado">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="observacion">
                        <th mat-header-cell *matHeaderCellDef style="width: 220px;"> Observaciones </th>
                        <td mat-cell *matCellDef="let row" style="width: 220px;"> {{row.observacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="responsable">
                        <th mat-header-cell *matHeaderCellDef style="width: 190px;"> Responsable </th>
                        <td mat-cell *matCellDef="let row" style="width: 190px;"> {{row.responsable}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef style="width: 190px;"> Acciones </th>
                        <td mat-cell *matCellDef="let row" style="width: 190px;">
                            <ng-container
                            *ngIf=" row.no_aplica!=false || row.docDigital==0 ; then thenTemplate; else elseTemplate">
                            </ng-container>
                            <ng-template #thenTemplate>
                                <a mat-icon-button 
                                [routerLink]="'/documentos/crear/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    add_circle
                                </span>
                            </a>
                              
                            </ng-template>
                            <ng-template #elseTemplate>
                                <a mat-icon-button *ngIf="!row.Revisado" [disabled] 
                                [routerLink]="'/documentos/editar/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    create
                                </span>
                            </a>
                            <a mat-icon-button *ngIf="!row.Revisado" [disabled] 
                                [routerLink]="'/documentos/editar/'+descripcion.contrato+'/'+row.no_doc">
                                <span class="material-icons">
                                    delete
                                </span>
                            </a>
                            </ng-template>
                     </td>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnas" class="seleccionar"></mat-row>
        
                </mat-table>
            </ng-container>
        </app-listado-generico>
    </mat-tab>
  </mat-tab-group>